@model Capstone_Application_Draft2.Models.Custom_User_List

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Custom_User_List</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Progress_Status.Status_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Progress_Status.Status_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stuff_To_Do.Todo_Items)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stuff_To_Do.Todo_Items)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Userinfo.First_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Userinfo.First_name)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
